[Unit]
Description=Start qodi
DefaultDependencies=no
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /home/lukeo/qodi/systemd/qodi.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
